
.jss4 {
  display: flex;
  align-items: center;
  margin-left: 6px;
  text-decoration: none;
}
.jss5 {
  font-size: 1.125rem;
}
.jss6 {
  border: 1px solid #07575B;
  min-width: 196px;
}
.jss7 {
  color: #07575B;
  display: block;
  padding: 12px 0 14px;
  font-size: 0.8125rem;
  text-align: center;
  transition: all .2s;
  line-height: 1;
  text-decoration: none;
}
.jss7:hover {
  color: rgb(5, 73, 77);
}
.jss7:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}
.jss8 {
  background-color: #07575B;
}
.jss9 {
  width: 100%;
  height: 65px;
  display: flex;
  padding: 0px 8px 0px 8px;
  z-index: 1101;
  font-size: 1rem;
  box-shadow: 0 3px 6px 0 rgb(140 152 164 / 25%);
  align-items: center;
  justify-content: space-between;
}
.jss10 {
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  font-weight: 400;
  margin-right: 15px;
  vertical-align: middle;
  justify-content: center;
}
.jss10:hover {
  color: #07575B;
  font-weight: bold;
  text-decoration: none;
}
.jss10:hover:before {
  left: 0;
  width: 100%;
  opacity: 1;
}
.jss11 {
  display: flex;
  position: relative;
  justify-content: center;
}
.jss11:hover > div {
  display: block;
}
.jss11:hover svg {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.jss12 {
  top: calc(100%);
  left: 0;
  margin: 0;
  display: none;
  z-index: 1000;
  position: absolute;
  max-width: 600px;
  min-width: 350px;
  box-shadow: 0 0.2rem 2rem rgb(0 0 0 / 12%);
  min-height: 140px;
  padding-top: .25rem;
  padding-left: .25rem;
  border-radius: .25rem .25rem .25rem .25rem;
  padding-right: .25rem;
  padding-bottom: .25rem;
  background-color: #fff;
}
.jss12 > ul {
  padding: 0 12px;
  flex-wrap: wrap;
  flex-direction: row;
}
.jss12 li {
  list-style: none;
}
.jss12 li > ul {
  width: 100%;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  font-size: 14px;
  max-width: 100%;
  min-width: 100%;
  box-shadow: none;
  border-radius: 0;
  flex-direction: row;
}
.jss12 li > ul a {
  color: #1b1b25;
  cursor: pointer;
  font-weight: 600;
  line-height: 40px;
  border-radius: 0;
  margin-bottom: .4rem;
  padding-bottom: .5rem;
  text-decoration: none;
}
.jss12 li > ul a:hover {
  color: #07575B;
  padding: .5rem;
  border-radius: 0.4rem;
  background-color: #fff;
}
.jss12 > ul > li > a {
  color: #1b1b25;
  cursor: pointer;
  line-height: 40px;
  border-radius: 0;
  margin-bottom: .4rem;
  padding-bottom: .5rem;
  text-decoration: none;
}
.jss12 > ul > li > a:hover {
  color: #07575B;
  padding: .5rem;
  font-weight: 600;
  border-radius: 0.4rem;
  background-color: #fff;
}
.jss13 {
  color: #fff;
  margin-right: 10px;
}
.jss13 div {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  background-color: #07575B;
}
.jss13 p {
  color: #fff;
}
.jss14 {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.jss15 {
  margin-left: 3px;
}
.jss16 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.jss17 {
  display: inherit;
}